---
import i18next, { t, changeLanguage } from "i18next";
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import HeaderLayout from "../../layouts/HeaderLayout.astro";
import Card from "../../components/card/Card";
import FooterLayout from "@/layouts/FooterLayout.astro";

changeLanguage("zh");

const currentLanguage = i18next.language;
const members = await getCollection("members", ({ id }) => {
    return id.startsWith(`${currentLanguage}/`);
});
---

<Layout title={t("content.head.title")}>
	<HeaderLayout>
		<FooterLayout>
			<main class="py-16 px-16 flex justify-center">
				<div class="w-full lg:w-2/3">
					<h1 class="font-serif font-bold text-xl m-2">
						{t("members.content.title")}
					</h1>
					<div class="my-8">
						<ul class="grid xl:grid-cols-2 gap-4 p-0">
							{members.map((member) => {
								return (
								<Card
									client:load
									href={member.data.link}
									title={member.data.name}
									body={member.data.email}
									imageSrc={member.data.picture}
								/>
								);
							})}
						</ul>
					</div>
				</div>
			</main>
		</FooterLayout>
	</HeaderLayout>
</Layout>
