---
import i18next, { t, changeLanguage } from "i18next";
import { getCollection, getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import HeaderLayout from "../layouts/HeaderLayout.astro";
import Card from "../components/card/Card";
import FooterLayout from "@/layouts/FooterLayout.astro";
import { Mail } from "lucide-react";
import { Separator } from "@/components/ui/separator";
import type { MembersType } from "@/schema/members";

changeLanguage("en");

const currentLanguage = i18next.language;
const members = await getCollection("members", ({ id }) => {
    return id.startsWith(`${currentLanguage}/`);
});
---

<Layout title={t("content.head.title")}>
	<HeaderLayout>
		<FooterLayout>
			<main class="py-16 px-4 sm:px-16 flex justify-center">
				<div class="w-full lg:w-2/3">
					<h1 class="font-serif font-bold text-2xl m-2">
						{t("members.content.title")}
					</h1>
					<div class="my-8">
						<ul class="grid 2xl:grid-cols-2 gap-4 p-0">
							{
								members
									.sort((a, b): number => {
										const a_sort = a.data.name_sort;
										const b_sort = b.data.name_sort;
										for (
											let i = 0;
											i <
											Math.min(
												a_sort.length,
												b_sort.length,
											);
											i++
										) {
											if (a_sort[i] !== b_sort[i]) {
												return a_sort[i] - b_sort[i];
											}
										}
										return a_sort.length - b_sort.length;
									})
									.map((member) => {
										return (
											<Card
												client:load
												href={member.data.link}
												title={member.data.name}
												imageSrc={member.data.picture}
											>
												<div slot="body">
													<div class="mb-1 mt-6 rounded-md border-2 border-border">
														<p class="p-1 px-4 text-sm">
															{member.data.title}
														</p>
													</div>
													<div class="mb-1 rounded-md border-2 border-border">
														<div class="flex flex-wrap gap-2">
															<p class="rounded-md p-1 text-center text-sm text-foreground">
																<Mail className="mx-2 inline" />
																Email
															</p>
															<Separator orientation="vertical" />
															<p class="whitespace-nowrap break-words p-1 text-sm">
																{
																	member.data
																		.email
																}
															</p>
														</div>
													</div>
												</div>
											</Card>
										);
									})
							}
						</ul>
					</div>
				</div>
			</main>
		</FooterLayout>
	</HeaderLayout>
</Layout>
