---
import i18next, { changeLanguage } from "i18next";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import HeaderLayout from "@/layouts/HeaderLayout.astro";
import FooterLayout from "@/layouts/FooterLayout.astro";
import { Separator } from "@/components/ui/separator";
import A from "@/components/markdown_components/A.astro";
import Blockquote from "@/components/markdown_components/Blockquote.astro";
import H1 from "@/components/markdown_components/H1.astro";
import H2 from "@/components/markdown_components/H2.astro";
import H3 from "@/components/markdown_components/H3.astro";
import H4 from "@/components/markdown_components/H4.astro";
import ImageRaw from "@/components/markdown_components/ImageRaw.astro";
import { Image } from "astro:assets";

changeLanguage("en");

const components = { a: A, blockquote: Blockquote, h1: H1, h2: H2, h3: H3, h4: H4 };
export async function getStaticPaths() {
    const __lang = "en";
    const newsEntries = await getCollection("news", ({ id }) => {
        return id.startsWith(`${__lang}/`) || id.startsWith("common/");
    });
    return newsEntries.map((entry) => ({
        params: { slug: entry.slug.split("/").pop() },
        props: { entry },
    }));
}
const currentLanguage = i18next.language;
const { entry } = Astro.props;
const frontmatter = entry.data;
const { Content } = await entry.render();
---

<Layout title={frontmatter.title}>
	<HeaderLayout>
		<FooterLayout>
			<div class="flex flex-col items-center justify-center">
				<Separator className="bg-destructive" />
				<Separator className="bg-destructive mt-2" />
				<div class="w-full px-2 md:px-12 lg:w-2/3 py-4">
					<div
						class="w-full my-4 p-4 rounded-md border-border border-[1px]"
					>
						<h1 class="text-4xl font-medium leading-none my-4" transition:name={`${entry.slug}-title`}>
							{frontmatter.title}
						</h1>
						<div class="flex gap-5 align-middle items-end">
							<p class="flex-1 text-sm text-muted-foreground p-1" transition:name={`${entry.slug}-description`}>
								{frontmatter.description}
							</p>
							<p
								class="h-7 text-sm rounded-sm bg-destructive text-destructive-foreground p-1"
								transition:name={`${entry.slug}-date-string`}
							>
								{frontmatter.publish_date?.toLocaleString(currentLanguage)}
							</p>
						</div>
					</div>
					<div class="px-4 mb-8">
						<Content components={components}/>
					</div>
				</div>
				<Separator className="bg-destructive" />
				<Separator className="bg-destructive mt-2 mb-1" />
			</div>
		</FooterLayout>
	</HeaderLayout>
</Layout>
