---
import i18next, { t, changeLanguage } from "i18next";
import { localizePath, interpolate } from "astro-i18next";
import Layout from "../../../layouts/Layout.astro";
import HeaderLayout from "../../../layouts/HeaderLayout.astro";
import FooterLayout from "@/layouts/FooterLayout.astro";
import { getCollection } from "astro:content";
import { type NewsType } from "@/schema/news";
import { Button } from "@/components/ui/button";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";

changeLanguage("zh");

export async function getStaticPaths({ paginate }: {
    paginate: any;
}) {
    const __lang = "zh";
    const allNews = await getCollection("news", ({ id }) => {
        return id.startsWith(`${__lang}/`) || id.startsWith("common/");
    });
    return paginate(allNews, {
        pageSize: 2,
    });
}
const currentLanguage = i18next.language;
const { page } = Astro.props;
---

<Layout title={t("news.head.title")}>
	<HeaderLayout>
		<FooterLayout>
			<main class="flex justify-center py-16 px-2 lg:px-16">
				<div class="pl-0 sm:pl-8 w-full lg:w-4/5 xl:2/3">
					<h1 class="font-serif font-bold text-2xl m-2">{t("news.content.title")}</h1>
					<div class="m-0 p-0 w-[95%] align-baseline">
						<ul
							class="relative before:bg-foreground before:-ml-[1px] before:absolute before:top-0 before:left-8 before:w-[3px] before:h-full"
						>
							{
								page.data.map(
									(post: {
										slug: string;
										data: NewsType;
									}) => (
										<li class="relative">
											<label class="transform rotate-45 bg-foreground outline-zinc-50 outline-8 block mt-2 mr-2 mb-2 -ml-2 w-4 h-4 absolute top-0 left-8" />
											<a
												href={localizePath(
													"/news/" + post.slug.split("/").pop(),
												)}
												class="block bg-transparent rounded-md ml-14 hover:bg-muted"
											>
												<div class="py-4 px-0 sm:px-8 relative w-full">
													<p class="inline-block border-y-2 border-foreground font-mono text-foreground" transition:name={`${post.slug}-date-string`}>
														{" "}
														{post.data.publish_date.toLocaleString(currentLanguage)}{" "}
													</p>
													<h3 class="font-semibold text-lg" transition:name={`${post.slug}-title`}>
														{" "}
														{post.data.title}{" "}
													</h3>
													<div class="w-full bg-amber-300 bg-opacity-80 p-2 sm:p-6 rounded-md" transition:name={`${post.slug}-description`}>
														<p class="text-foreground leading-normal">
															{
																post.data
																	.description
															}
														</p>
													</div>
												</div>
											</a>
										</li>
									),
								)
							}
						</ul>
					</div>
					<div class="flex space-x-2 my-4 mr-8 justify-end" transition:name="new-paginate-buttons">
						{
							page.url.prev ? (
								<a
									class={cn(
										buttonVariants({
											variant: "outline",
											size: "sm",
										}),
									)}
									href={page.url.prev}
								>
									{t("news.content.previous")}
								</a>
							) : (
								<Button variant="outline" size="sm" disabled>
									{t("news.content.previous")}
								</Button>
							)
						}
						{
							page.url.next ? (
								<a
									class={cn(
										buttonVariants({
											variant: "outline",
											size: "sm",
										}),
									)}
									href={page.url.next}
								>
									{t("news.content.next")}
								</a>
							) : (
								<Button variant="outline" size="sm" disabled>
									{t("news.content.next")}
								</Button>
							)
						}
					</div>
				</div>
			</main>
		</FooterLayout>
	</HeaderLayout>
</Layout>
